/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/*
Písmo pro běžný text:
font-family: 'Open Sans', sans-serif;
font-size: 15px+
line-height: 1.5;

Písmo pro menší nadpisy (kromě velkého h1):
font-family: 'Rubik', sans-serif;
font-weight: 700;


Modra barva tlačítka:
background-color: #3498db;

Tlačítko při najetí myší:
background-color: #2b80b9;
*/

/* -------------------------------------------------- */


body {
	padding: 0;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5; /* proklad mezi radky */
}


/* vychozi barva pro odkaz */
a {
	color: #3498db;
}

a:hover,
a:focus,
a:active {
	color: #2b80b9;
}

nav {
	display:flex;
	flex-direction: column;
	align-items: center;

}

nav .celek {
	width:100%;
}

nav .navigace {
	width: 100%
}

nav img {
	height:30px;
	margin:20px 0px;
}

nav a {
	display:inline-block;
	width:100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding:5px 0px;
	color:#959595;
	font-size:13px;
}

nav a:hover {
background-color: #3498db;
color:white;
}

nav .tlacitka-nav {
	display: flex;
	width: 100%;
	margin-top: 20px;
	justify-content: space-around;
	align-items: center;
}

nav .tlacitka-nav a {
	text-transform: initial;
	font-size: 13px;
	font-weight: 600;
	width: 40%;
	padding: 10px 20px;
}

nav .tlacitka-nav a:nth-child(1) {
	background-color: #3498db;
	color:white;
	border: 1px solid #3498db;
	border-radius: 5px;
}

nav .tlacitka-nav a:nth-child(2) {
	color: black;
	border-radius: 5px;
	border: 1px solid black;
}

nav .tlacitka-nav a:hover {
	background-color: #2b80b9;
}

header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-image: linear-gradient(white, #f5f5f5);
 margin: 40px 0px 0px 0px;
}

header h1 {
	font-size: 44px;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	margin:0px;
}

header p {
	text-align: center;
	font-size: 18px;
	color: #a5a5a5;
	margin: 20px 0px;
	padding: 0px 20px;
}

header .tlacitko-header {
	display: flex;
	flex-direction: column;
	
}

header .tlacitko-header .tl {
	background-color: #3498db;
	width:40%;
	align-self: center;
	color: white;
	text-decoration: none;
	text-align: center;
	border: 1px solid #3498db;
	border-radius: 5px;
	padding: 10px 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

header .tlacitko-header .tl:hover {
	background-color: #2b80b9;
}

header .tlacitko-header p {
	margin:0px;
	font-size: 13px;
	margin-bottom: 20px;
}

header img {
	display: none;
}

section {
	display: flex;
	flex-direction:column;
	padding: 10px 20px 30px 20px;
}
article .popisek{
	display: flex;
	flex-direction: column;
	
}

article .popisek h2 {
	margin:0px;
	text-align: center;
	padding: 30px 0px 10px 0px;
	font-size: 15px;
}

article .popisek p {
	margin: 0px;
	text-align: center;
	padding: 10px 0px;
}

article .popisek a {
	text-align: center;
	font-size: 13px;
}

section article img {
	display: none;
}

article h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
}

footer {
	background-color: #252525;
	display: flex;
	flex-direction: column;
}

footer p {
	text-align: center;
	color: #959595;
	font-size: 13px;
	margin: 20px 0px;
}

footer .dolni-menu {
	text-align: center;
	display: flex;
	margin: 20px 0px 50px 0px;
	justify-content: space-around;
}

footer .dolni-menu a {
	font-family: 'Rubik', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

/* Tablet (min 480) */

@media (min-width: 480px){

	nav .navigace {
		display: flex;
		margin-bottom: 20px;
	}

	nav .tlacitka-nav {
		margin-bottom: 20px;
	}

	section {
		padding: 10px 0px;
	}
	
	article {
		display: flex;
	}

	article .popisek {
		padding: 30px 30px;
	}

	section article img {
		display: inline;
		max-width: 50px;
		max-height: 50px;
		margin: 30px 0px 0px 30px;
	}

	article .popisek h2 {
		text-align: left;
		padding-top: 0px;
		
	}

	article .popisek p {
		text-align: left;
		
	}

	article .popisek a {
		text-align: left;
	}
	
}

/* Pc (min 768)*/

@media (min-width:768px){

	nav {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: baseline;
		margin:auto;
		margin-top:50px;	
		max-width: 1140px;
	}

	nav .celek {
		display:flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: baseline;
		width:80%;
	}

	nav img {
		align-self: center;
		margin: 0px;
		max-width: 100px;
		margin-left:30px;
	}
	nav .navigace {
		max-width: 400px;
		margin: 0px;
		justify-content: center;
	}

	nav .tlacitka-nav {
		width: 35%;
		margin: 0px;
		justify-content: flex-end;
	}

	nav .tlacitka-nav a {
		text-transform: initial;
		font-size: 13px;
		font-weight: 600;
		width: 150px;
		padding: 10px 10px;
		margin: 0px 10px;
	}
	
	nav .tlacitka-nav a:hover {
		background-color: #2b80b9;
	}

	header {
		margin-top: 50px;
		min-height:600px;
	}

	header .hlavicka {
		width: 1140px;
		height: 600px;
		background-image: url(images/ruzova-slecna.png);
		background-position: right bottom;
		background-size: contain;
		background-repeat: no-repeat;
		margin:auto;
	}

	header .hlavicka .leva {
		margin-left: 30px;

	}

	.hlavicka .leva h1 {
		text-align: left;
		max-width:420px;
	}

	.hlavicka .leva p {
		text-align: left;
		padding-left:0px;
		max-width:420px;
	}

	.hlavicka .tlacitko-header .tl{
		align-self: flex-start;
		max-width: 20%;
	}

	section {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin:auto;
		max-width: 1140px;
	}

	section article {
		border: 1px solid grey;
		border-radius: 10px;
		max-width: 45%;
		margin:30px 0px;
	}

	section article:nth-child(odd) {
		margin-left: 30px;
	}
	section article:nth-child(even) {
		margin-right:30px;
	}

	footer .obal {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	footer .obal p {
		padding-left:100px;
	}

	footer .obal .dolni-menu {
		padding-right: 100px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.obal .dolni-menu a {
		padding:20px;
	}


}
